.main-container
  .fleshes-index
    .col-xs-3
      .husen
        .row
          .col-xs-12
            %a.husen__item1.block{"data-toggle" => "tab", href: "#kyousitu"}
              4/8 新歓教室ライブ
          .col-xs-12
            %a.husen__item2.block{"data-toggle" => "tab", href: "#hanami"}
              4/12 お花見交流会
          .col-xs-12
            %a.husen__item3.block{"data-toggle" => "tab", href: "#syokuji"}
              4/20 マックミスド会
          .col-xs-12
            %a.husen__item4.block{"data-toggle" => "tab", href: "#hako"}
              4/26 新歓箱ライブ
    .col-xs-9
      %h3
        こっちがタブ
      .tab-content
        #kyousitu.tab-pane.fade.in.active 内容いち
        #hanami.tab-pane.fade.in ないゆおに
        #syokuji.tab-pane.fade.in ないゆおさん
        #hako.tab-pane.fade.in ないひょうよん
