= render partial: 'layouts/main-carousel'
#header
  = render partial: 'layouts/sub-header'
.main-container
  .row.blank_box
  .row
    .col-xs-4
      = render partial: 'layouts/twitter'
    .col-xs-8
      = render partial: 'layouts/event-link'