.main-container
  .fleshes-index
    background-image: url("paper.jpg")
    background-repeat: repeat
    height: 100%
    width: 960px
    z-index: 1
    padding-top: 50px
    max-width: 100%
    position: absolute
    .col-xs-9
      left: -30px
      h3
      .tab-content
        #kyousitu.tab-pane.fade.in.active
          .tape1.center
            position: absolute
            top: -25px
            left: -23px
            img
          .kyousitu1
            position: absolute
            left: 30px
            top: 30px
            img
              width: 645px
              height: 330px
          .thumbnail
            .jumbotron
              margin-bottom: 0px
              background-image: url("onken1.jpg")
              .break
                height: 130px
              p
                color: white
              p
                a.btn.btn-primary.btn-lg
          .tape1-l.center
            position: absolute
            top: 430px
            right: -20px
          .sutaren2
            position: absolute
            left: -200px
            top: 280px
            img
              width: 250px
              height: 250px
          .onpu
            z-index: -1
            position: absolute
            left: 80px
            top: 350px
            img
              width: 450px
              height: 350px
          .butyou
            position: absolute
            right: 0px
            img
              width: 250px
              height: 250px
        #hanami.tab-pane.fade.in
        #syokuji.tab-pane.fade.in
        #hako.tab-pane.fade.in
