.main-container
  .fleshes-index
    background-image: url("paper.jpg")
    height: 1000px
    width: 960px
    z-index: 1
    padding-top: 50px
    max-width: 100%

    .col-xs-9
      left: -30px
      h3
      .tab-content
        #kyousitu.tab-pane.active
          .tape1.center
            position: absolute
            top: -25px
            left: -23px
            img
          .kyousitu1
            position: absolute
            left: 30px
            top: 30px
            img
              width: 645px
              height: 330px
          .ji3
            position: absolute
            top: 180px
            left: 30px
            img
              width: 650px
              height: 400px
          .thumbnail
            .jumbotron
              height: 540px
              margin-bottom: 0px
              background-image: url("onken1.jpg")
              .break
                height: 460px
              p
                color: white
              p
                a.btn.btn-primary.btn-lg
          .tape1-l.center
            position: absolute
            top: 500px
            right: -20px
          .sutaren2
            position: absolute
            left: -200px
            top: 280px
            img
              width: 250px
              height: 250px
          .onpu
            z-index: 0
            position: absolute
            left: 80px
            top: 580px
            img
              width: 450px
              height: 350px
          .butyou
            position: absolute
            right: 0px
            img
              width: 250px
              height: 250px
          .kesigomu
            position: absolute
            left: -140px
            bottom: -300px
            img
              width: 200px
              height: 200px
          .pen
            position: absolute
            right: -140px
            bottom: -440px
            img
              width: 450px
              height: 450px
        #hanami.tab-pane.fade.in
        #syokuji.tab-pane.fade.in
        #hako.tab-pane.fade.in
