.event-link
  -3.times do
    .row.event-link__images
      .col-xs-4
        = image_tag "kokuou.jpg", class: "img-thumbnail1"
      .col-xs-4
        = image_tag "kokuou.jpg", class: "img-thumbnail2"
      .col-xs-4
        = image_tag "kokuou.jpg", class: "img-thumbnail3"

