.sub-header
  %nav.navbar.navbar-inverse{role: "navigation"}
    .container-fluid.container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
      .sub-header__item
        %ul.nav.navbar-nav
          %li
            %a{href: "#"}
              MEMBER
          %li
            %a{href: "#"}
              LIVE
          %li
            %a{href: "#"}
              LIVE_PIC
          %li
            %a{href: "#"}
              EVENT
          %li
            %a{href: "#"}
              ABOUT
          %li
            = link_to fleshes_path do
              FOR FRESHMAN


